body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f5;
    padding: 20px;
    margin: 0;
}
.container {
    background-color: #ffffff;
    border-radius: 16px;
    padding: 30px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Consente lo scorrimento su dispositivi con dimensioni ridotte */
}
.logo {
    max-width: 120px;
    margin-bottom: 15px;
}
h1 {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
}
.info p {
    margin: 5px 0;
    font-size: 0.85rem;
    line-height: 1.4;
}
.form-group, .form-check {
    margin-bottom: 15px;
}
input, textarea, select {
    border-radius: 8px;
}
button[type="submit"] {
    background-color: #007aff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}
button[type="submit"]:hover {
    background-color: #005bb5;
}

